services:
  vite_tailwindcss:
    image: node:24-alpine
    user: "node"
    working_dir: /home/node/app
    volumes:
      - .:/home/node/app
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host"
